
<table>
    <tr>
        <th>店名：</th>
        <td>
            ラーメン二郎　{{ category.title }}
        </td>
    </tr>
    <tr>
        <th>住所：</th>
        <td>
            〒188-0001 東京都西東京市谷戸町3-27-24 ひばりヶ丘プラザ1F
        </td>
    </tr>
    <tr>
        <th>最寄り駅：</th>
        <td>
            西武池袋線『ひばりヶ丘駅』（268m）
        </td>
    </tr>
    <tr>
        <th>営業時間：</th>
        <td>
            	【月～金】11:30～14:30／17:45～21:15
【土】10:30～16:30
※麺が無くなりしだい終了。
        </td>
    </tr>
    <tr>
        <th>定休日：</th>
        <td>日曜（祝日不定休、営業有無は店内表示有）</td>
    </tr>
    <tr>
        <th>アクセス：</th>
        <td>南口からPARCO前の歩道を直進。そのまま道なりに進み十字路を越え、三叉路の角あたりに黄色い看板。徒歩3分程度。</td>
    </tr>
</table>
