<table>
    <tr>
        <th>店名：</th>
        <td>
            ラーメン二郎　{{ category.title }}
        </td>
    </tr>
    <tr>
        <th>住所：</th>
        <td>
            〒153-0063 東京都目黒区目黒3-7-2
        </td>
    </tr>
    <tr>
        <th>最寄り駅：</th>
        <td>
            JR山手線、東急目黒線など『目黒駅』（766m））
        </td>
    </tr>
    <tr>
        <th>営業時間：</th>
        <td>
            12:00～15:00／18:00～23:00 ※日によって変更の場合あり
        </td>
    </tr>
    <tr>
        <th>定休日：</th>
        <td>水曜</td>
    </tr>
    <tr>
        <th>アクセス：</th>
        <td>西口を出て、正面の権之助坂を下る。下りきったら、右折（ローソンが目印）。しばらく進んだ道路の左手。徒歩15分くらい。</td>
    </tr>
</table>
