{% extends 'app/base.html' %} {% block content %}

<div class="top-wrapper">
    <div class="container">
        <h1>マイページ</h1>
    </div>
</div>

<table>
    <div class="heading">
    <h3>登録情報</h3>
    </div>
    <tr>
        <th>ユーザー名：</th>
        <td>
            <h3 class="user-name">@{{ user.username }}</h3>
        </td>
    </tr>
    <tr>
        <th>アイコン：</th>
        <td>{{ userinfoedit.icon }}</td><br>
    </tr>
    <tr>
        <th>自己紹介：</th>
        <td>{{ userinfoedit.introduction}}</td>
    </tr>
</table>

<div class="mypage_edit">
<a href="{% url 'app:mypage_edit' %}"><span class="btn">プロフィール編集</span></a>
<a href="{% url 'app:password_change' %}"><span class="btn">パスワードの変更</span></a>
</div>

<div class="message-wrapper">
        <div class="heading">
            {% if photos.count != 0 %}
            <div class="heading">
            <h3>投稿：<strong>{{ photos.count }}</strong>件</h3>
            </div>
            {% include 'app/posts_list_basic.html' %}
            {% else %} {% if user == request.user %}
            <h3>あなたはまだ投稿していません。</h3><br>
            <h3>初めての投稿をしてみましょう！</h3><br>
            <a href="{% url 'app:photos_new' %}">
        <span class="btn message">さっそく投稿する</span>
        </a>
            {% else %}
            <p>@{{ user.username }}さんはまだ投稿していません。</p>
            {% endif %} {% endif %}
            
        </div>
</div>
{% endblock %}
