<div class="posts-wrapper">
    {% for photo in photos %}
    <div class="photo">
        <a href="{% url 'app:photos_category' category=photo.category %}">
          {% if photo.image %}
            <img src="{{ photo.image.url }}" class="photo-img">
          {% else %}
            <img src="https://kentohomma-first-bucket.s3-ap-northeast-1.amazonaws.com/ramen0I9A9583_TP_V.jpg" class="photo-img">
          {% endif %}
        </a>
        <div class="photo-info">
            <a href="{% url 'app:photos_category' category=photo.category %}" class="category">{{ photo.category }}</a>
        </div>
    </div>
    {% endfor %}
    <div class="clear"></div>
</div>
